<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.FavoriteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Favorite">
        <id column="id" property="id" />
        <result column="shopid" property="shopid" />
        <result column="userid" property="userid" />
    </resultMap>
    <insert id="insertByIds">
        insert into favorite (shopid,userid)
        values (#{shopid},#{userid})
    </insert>
    <select id="selectByIds" resultType="com.example.mybatisplus.model.domain.Favorite">
        select * from favorite where userid=#{userid} and shopid=#{shopid}

    </select>
    <select id="countByshopid" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM favorite WHERE shopid=#{shopid};

    </select>

</mapper>
