<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.ManagerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.Manager">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="mpass" property="mpass" />
        <result column="mtype" property="mtype" />
        <result column="mtel" property="mtel" />
        <result column="email" property="email" />
        <result column="checkcode" property="checkcode" />
    </resultMap>
    <insert id="insertByMessage">
        insert into manager (mtel,mpass,mtype,shop_id)
        values (#{tel},#{pass},false,#{shopid})
    </insert>
    <insert id="insertByTelPass">
         insert into manager (mtel,mpass,mtype,email)
        values (#{tel},#{pass},false,#{email})

    </insert>
    <update id="updateMtype">

        update manager
        SET mtype=1
        where shop_id=#{id}
    </update>
    <update id="setType">
        update manager
        SET mtype=0
        where shop_id=#{id}
    </update>
    <update id="updatePass">
        update manager
        SET mpass=#{newpass}
        where id=#{id}

    </update>
    <update id="updateByEmail">
        update manager
        SET mpass=#{newpass}
        where mtel=#{tel}

    </update>
    <update id="updateCode">
        update manager
        SET checkcode=#{checkCode}
        where mtel=#{tel}

    </update>
    <update id="updateShopId">
        update manager
        SET shop_id=#{shopid}
        where id=#{mid}

    </update>
    <!--<update id="updateCheckAdvice">-->
        <!--update user_appdiscount-->
        <!--SET isuse=1-->
        <!--where usei_id=#{UserId} and appdis_id=#{DisId}-->

    <!--</update>-->
    <select id="hasExist" resultType="com.example.mybatisplus.model.domain.Manager">
        select * from  manager where  mtel=#{tel}
    </select>
    <select id="selectId" resultType="java.lang.Long">
        select id from manager where mtel=#{tel}
    </select>
    <select id="getByTel" resultType="java.lang.Long">
        select id from manager where mtel=#{tel};
    </select>
    <select id="selectByTelPass" resultType="com.example.mybatisplus.model.domain.Manager">
          select * from manager where mpass=#{pass} and mtel=#{tel}
    </select>
    <select id="getByMid" resultType="com.example.mybatisplus.model.domain.Manager">
        select * from manager where id=#{managerId}
    </select>
    <select id="selectTypeByTel" resultType="java.lang.Boolean">
        select mtype from manager where mtel=#{tel}
    </select>
    <select id="getShopIdById" resultType="java.lang.Long">
        select shop_id from manager where id=#{id}
    </select>
    <select id="selectByPass" resultType="com.example.mybatisplus.model.domain.Manager">
         select * from manager where id=#{id} and mpass=#{oldpass}

    </select>
    <select id="selectEmailById" resultType="com.example.mybatisplus.model.domain.Manager">

        select * from manager where mtel=#{tel}
    </select>
    <select id="selectByTel" resultType="com.example.mybatisplus.model.domain.Manager">
        select * from manager where mtel=#{tel}

    </select>
    <select id="selectCheckcode" resultType="java.lang.String">
        select checkcode from manager where mtel=#{tel}

    </select>
    <select id="selectEmail" resultType="com.example.mybatisplus.model.domain.Manager">
        select * from manager where mtel=#{tel} and email!=null

    </select>

    <!--<select id="selectEmailById">-->
        <!--select * from manager where id=#{id}-->
        <!---->
    <!--</select>-->
    <!--<select id="selectTypeById" resultType="java.lang.Boolean">-->
        <!--select mtype-->
    <!--</select>-->
    <!--<select id="selectByTelPass" resultType="com.example.mybatisplus.model.domain.Manager">-->
       <!---->

    <!--</select>-->
    <!--<select id="getNotCheck" resultType="com.example.mybatisplus.model.domain.Manager">-->
        <!--select * from manager where mtype=0-->
    <!--</select>-->


</mapper>
